AUTH0_AUDIENCE=https://paymo.com
AUTH0_ISSUER_BASE_URL=https://paymo.us.auth0.com
AUTH0_DOMAIN=paymo.us.auth0.com
AUTH0_MANAGEMENT_API_TEST_APP_CLIENT_ID=
AUTH0_MANAGEMENT_API_TEST_APP_CLIENT_SECRET=
NODE_ENV=
PLAID_ENV=
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_COUNTRY_CODES=
BANKS_TABLE_NAME=
RECIPIENTS_TABLE_NAME=
DWOLLA_BASE_URL=https://api-sandbox.dwolla.com
DWOLLA_ACCESS_TOKEN=
